$input-border: 5px solid;
$input-padding: 1rem 1.2rem;

.autocomplete-input {
  padding: $input-padding;
  width: 20rem;
  border: $input-border;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;

  &.windspeed {
    border-left: none;
    width: 5.5rem;
    padding-right: 0;
  }
}

.autocomplete-list {
  position: absolute;
  max-height: 60%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  border: $input-border;
  border-top: none;
  border-image: initial;
  list-style-type: none;
  text-align: left;
  overflow-y: auto;
}

.autocomplete-item {
  width: 20rem;
  padding: $input-padding;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: black;
  }
}
